<!DOCTYPE html>
<html class="doc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>右键菜单 - Frag | 最上流的组件库</title>
    <link rel="shortcut icon" href="../../../assets/doc/images/favicon.ico">
    <link rel="stylesheet" href="../../../assets/doc/doc.css">
    <script src="../../../components/require.js"></script>
</head>
<body>
    <header id="doc_header">
        <div class="doc-container">
            <h1 id="doc_logo">
                <a href="../../../" title="Teal" id="doc_logo_image"><img src="../../../assets/doc/images/logo.svg" alt="Frag"></a>
                <a href="../../../" id="doc_logo_title">Frag</a>
                <div id="doc_version" class="doc-menubutton">
                    <a href="javascript://切换版本">4.0.0 <i class="doc-icon">⏷</i></a>
                    <menu>
                        <li><a href="http://tealui.com/v3.x/" target="_blank">3.x</a></li>
                        <li><a href="http://tealui.com/v2.x/" target="_blank">2.x</a></li>
                    </menu>
                </div>
            </h1>
            <nav id="doc_navbar">
                <ul>
                    <li><a href="../../../docs" title="文档和规范">文档</a></li>
                    <li class="doc-navbar-active"><a href="../../../components" title="组件和演示">组件</a></li>
                    <li><a href="../../../tools" title="工具和资源">工具</a></li>
                </ul>
                <a href="http://git.weidai.work/fed/frag" target="_blank" title="GitHub" id="doc_repository" class="doc-icon">😺</a>
                <a href="javascript:Doc.toggleSidebar()" title="菜单" id="doc_togglesidebar" class="doc-icon">≡</a>
            </nav>
        </div>
    </header>
    <div id="doc_body" class="doc-container">
        <aside id="doc_sidebar">
            <div id="doc_sidebar_header">
                <input type="search" placeholder="查找组件..." autocomplete="off" id="doc_sidebar_filter">
            </div>
            <ul id="doc_sidebar_menu">
                <li class="doc-tip"><i class="doc-icon doc-spin">҉</i> 正在载入列表...</li>
            </ul>
        </aside>
        <article id="doc_main" class="doc">
<aside id="doc_mainmenu" class="doc-menubutton">
                            <a href="javascript://打开工具" title="工具" class="doc-icon">🔧⏷</a>
                            <menu>
                                
                                <li><a href="javascript:Doc.toggleFullScreen()" accesskey="f"><i class="doc-icon">✥</i>全屏显示</a></li>
                                
                                
                                
                                
                                <li class="doc-menu-divider"><a href="http://git.weidai.work/fed/frag/edit/dev-v4/components/ui/contextMenu/index.md" target="_blank"><i class="doc-icon">✍</i>编辑此页</a></li>
                            </menu>
                        </aside>
                        <h1 id="右键菜单">
<a href="#右键菜单" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>右键菜单</h1>
<h2 id="基本用法">
<a href="#基本用法" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>基本用法</h2>
<pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-htm">&lt;ContextMenu /&gt;</code></pre><!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>J+ Library</title>
<pre><code>	&lt;link href=&quot;../../controls/core/assets/styles/base.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
	&lt;link href=&quot;../../controls/button/assets/styles/contextmenu.less&quot; rel=&quot;stylesheet/less&quot; type=&quot;text/css&quot; /&gt;
	
	&lt;script src=&quot;../../system/core/assets/scripts/base.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;../../system/dom/assets/scripts/base.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;../../controls/core/assets/scripts/base.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;../../controls/core/assets/scripts/scrollablecontrol.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;../../controls/core/assets/scripts/listcontrol.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;../../controls/button/assets/scripts/contextmenu.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	
	&lt;script src=&quot;../../assets/demo/less.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;../../assets/demo/demo.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
	
	&lt;aside class=&quot;demo&quot;&gt;
		
		&lt;div id=&quot;a&quot;&gt;右击我&lt;/div&gt;
		
		
		&lt;script&gt;
			var a = Dom.get('a');
			
			// 创建一个新的菜单。
			var c = new ContextMenu();
			
			// 添加一个新的 MenuItem，并绑定点击事件。
			c.add('aa').on('click', function(){trace(this.getText())});
			
			// 应用当前菜单到节点 a 。
			c.setControl(a);
			
			
		&lt;/script&gt;
		
	&lt;/aside&gt;
	
	
&lt;/body&gt;
</code></pre>
</html>
                        
                        
</article>
    </div>
    <footer id="doc_footer">
        <div class="doc-container">
            <div id="doc_footer_links">
                <a href="http://git.weidai.work/fed/frag/issues" target="_blank">反馈建议</a> |
                <a href="../../../docs/about/contributing.html">贡献指南</a> |
                <a href="https://gitter.im/Teal/TealUI" target="_blank">在线讨论</a>
            </div>
            &copy; 2011-2017 The Teal Team. All Rights Reserved.
        </div>
    </footer>
    <script src="../../../assets/doc/doc.js"></script>
    <script>
        Doc.init({"root":"../../..","dir":"components","active":"ui/contextMenu/","imports":[]})
    </script>
    <script src="../../../components/index.js"></script>
    <script>!location.port && /^http/.test(location.protocol) && (document.body.appendChild(document.createElement("script")).src = "//hm.baidu.com/hm.js?9a3cb18d91be19c36c5f9725822b64e8")</script>
</body>
</html>tMenu"</span>;

render(
    __root__,
    &lt;ContextMenu&gt;<span class="xml"><span class="doc-code-tag">&lt;/<span class="doc-code-name">ContextMenu</span>&gt;</span></span>
);</code></pre>
                </div>
                        <h2 id="api"><a href="#api" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>API</h2><h3 id="api/ContextMenu"><a href="#api/ContextMenu" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a><a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/contextMenu/contextMenu.tsx#L4-17" target="_blank" title="源码：ui/contextMenu/contextMenu.tsx，第 4 行" aria-hidden="true" class="doc-icon doc-sourcelink">⅏</a>ContextMenu 类</h3><p class="doc">表示一个右键菜单。</p>
<div class="doc doc-scrollable"><table class="doc-api"><tr>
                            <th class="doc-api-method">方法</th>
                            <th class="doc-api-summary">描述</th>
                            
                        </tr><tr id="api/ContextMenu/render">
                                <td>
                                    <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/contextMenu/contextMenu.tsx#L9-15" target="_blank" title="源码：ui/contextMenu/contextMenu.tsx，第 9 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                    <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                    <code>render<i class="doc-tip doc-api-ellipsis">()</i><span class="doc-tip doc-api-more">():<code>any</code></span></code>
                                    <div class="doc doc-api-detail">
                                        <p class="doc">(保护的)当被子类重写时负责渲染当前控件。</p>

                
                
                
                <h4>返回值</h4>
                <p>类型：<code>any</code></p>
                <p class="doc">返回一个虚拟节点。</p>

                
                                        
                                    </div>
                                </td>
                                <td class="doc">
                                    <p class="doc">(保护的)当被子类重写时负责渲染当前控件。</p>

                                </td>
                                
                            </tr></table></div>
                        
</article>
    </div>
    <footer id="doc_footer">
        <div class="doc-container">
            <div id="doc_footer_links">
                <a href="http://git.weidai.work/fed/frag/issues" target="_blank">反馈建议</a> |
                <a href="../../../docs/about/contributing.html">贡献指南</a> |
                <a href="https://gitter.im/Teal/TealUI" target="_blank">在线讨论</a>
            </div>
            &copy; 2011-2017 The Teal Team. All Rights Reserved.
        </div>
    </footer>
    <script src="../../../assets/doc/doc.js"></script>
    <script>
        Doc.init({"root":"../../..","dir":"components","active":"ui/contextMenu/","imports":["typo/reset","ui/contextMenu"]})
    </script>
    <script src="../../../components/index.js"></script>
    <script>!location.port && /^http/.test(location.protocol) && (document.body.appendChild(document.createElement("script")).src = "//hm.baidu.com/hm.js?9a3cb18d91be19c36c5f9725822b64e8")</script>
</body>
</html>