<!DOCTYPE html>
<html class="doc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="xuld &lt;xuld@vip.qq.com&gt;">
    <meta name="version" content="0.0.1">
    <title>插入 - TealUI | 打造小而全、精而美的开源组件库</title>
    <link rel="shortcut icon" href="../../../assets/doc/images/favicon.ico">
    <link rel="stylesheet" href="../../../assets/doc/doc.css">
    <script src="../../../components/require.js"></script>
	<script>require(["ux/flash"])</script>
</head>
<body>
    <header id="doc_header">
        <div class="doc-container">
            <h1 id="doc_logo">
                <a href="../../../" title="Teal" id="doc_logo_image"><img src="../../../assets/doc/images/logo.svg" alt="TealUI"></a>
                <a href="../../../" id="doc_logo_title">TealUI</a>
                <div id="doc_version" class="doc-menubutton">
                    <a href="javascript://切换版本">4.0.0 <i class="doc-icon">⏷</i></a>
                    <menu>
                        <li><a href="http://tealui.com/v3.x/" target="_blank">3.x</a></li>
                        <li><a href="http://tealui.com/v2.x/" target="_blank">2.x</a></li>
                    </menu>
                </div>
            </h1>
            <nav id="doc_navbar">
                <ul>
                    <li><a href="../../../docs" title="文档和规范">文档</a></li>
                    <li class="doc-navbar-active"><a href="../../../components" title="组件和演示">组件</a></li>
                    <li><a href="../../../tools" title="工具和资源">工具</a></li>
                </ul>
                <a href="https://github.com/Teal/TealUI" target="_blank" title="GitHub" id="doc_repository" class="doc-icon">😺</a>
                <a href="javascript:Doc.toggleSidebar()" title="菜单" id="doc_togglesidebar" class="doc-icon">≡</a>
            </nav>
        </div>
    </header>
    <div id="doc_body" class="doc-container">
        <aside id="doc_sidebar">
            <div id="doc_sidebar_header">
                <input type="search" placeholder="查找组件..." autocomplete="off" id="doc_sidebar_filter">
            </div>
            <ul id="doc_sidebar_menu">
                <li class="doc-tip"><i class="doc-icon doc-spin">҉</i> 正在载入列表...</li>
            </ul>
        </aside>
        <article id="doc_main" class="doc">
<aside id="doc_mainmenu" class="doc-menubutton">
                            <a href="javascript://打开工具" title="工具" class="doc-icon">🔧⏷</a>
                            <menu>
                                <li><a href="javascript:Doc.toggleUnitTest()" accesskey="t"><i class="doc-icon">☕</i>单元测试</a></li>
                                <li><a href="javascript:Doc.toggleFullScreen()" accesskey="f"><i class="doc-icon">✥</i>全屏显示</a></li>
                                
                                <li><a href="javascript:Doc.toggleApis()" accesskey="a"><i class="doc-icon">≡</i>展开 API</a></li>
                                <li class="doc-menu-divider"><a href="https://github.com/Teal/TealUI/tree/master/components/ux/flash/flash.ts" target="_blank"><i class="doc-icon">😺</i>查看源码</a></li>
                                <li><a href="https://github.com/Teal/TealUI/issues/new?title=ux/flash" target="_blank"><i class="doc-icon">🐛</i>报告 BUG</a></li>
                                <li><a href="https://github.com/Teal/TealUI/edit/master/components/ux/flash/flash.md" target="_blank"><i class="doc-icon">✍</i>编辑此页</a></li>
                            </menu>
                        </aside>
                        <h1 id="插入">
<a href="#插入" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>插入<div class="doc-menubutton">
                        <small>ux/flash</small>
                        <menu>
                            <li><a href="javascript:Doc.copy(&quot;import flash from \&quot;ux/flash\&quot;;\n&quot;)">复制 <code>import "ux/flash"</code></a></li>
                            <li><a href="javascript:Doc.copy(&quot;require([\&quot;ux/flash\&quot;], function (flash_1) {\n\tvar flash = flash_1.default;\n\n\n});\n&quot;)">复制 <code>require("ux/flash")</code></a></li>
                            <li class="doc-menu-divider"><a href="javascript:Doc.copy(&quot;\&quot;ux/flash\&quot;&quot;)">复制 <code>"ux/flash"</code></a></li>
                        </menu>
                    </div></h1>
<p class="doc">Flash</p>
<h1 id="flash">
<a href="#flash" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>Flash<div class="doc-menubutton">
                        <small>ux/flash</small>
                        <menu>
                            <li><a href="javascript:Doc.copy(&quot;import flash from \&quot;ux/flash\&quot;;\n&quot;)">复制 <code>import "ux/flash"</code></a></li>
                            <li><a href="javascript:Doc.copy(&quot;require([\&quot;ux/flash\&quot;], function (flash_1) {\n\tvar flash = flash_1.default;\n\n\n});\n&quot;)">复制 <code>require("ux/flash")</code></a></li>
                            <li class="doc-menu-divider"><a href="javascript:Doc.copy(&quot;\&quot;ux/flash\&quot;&quot;)">复制 <code>"ux/flash"</code></a></li>
                        </menu>
                    </div></h1>
<p class="doc">提供和 Flash 的直接交互。</p>
<dl id="doc_toc">
	<dt><a href="#插入-flash">插入 Flash</a></dt>
	<dt><a href="#swfobject-源码-utilitybrowserswfobjectjs">SWFObject (源码: utility/browser/swfObject.js)</a></dt>
	<dt><a href="#api">API</a></dt>
</dl>
<h2 id="插入-flash">
<a href="#插入-flash" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>插入 Flash</h2>
<pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-htm">&lt;embed type=&quot;application/x-shockwave-flash&quot; name=&quot;plugin&quot; src=&quot;http://localhost:5373/assets/resources/test.swf&quot; quality=&quot;high&quot; wmode=&quot;transparent&quot;&gt;</code></pre><pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-htm">&lt;object classid=&quot;clsid:D27CDB6E-AE6D-11cf-96B8-444553540000&quot; codebase=&quot;http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0&quot; width=&quot;300&quot; height=&quot;120&quot;&gt;
    &lt;param name=&quot;movie&quot; value=&quot;../../../assets/resources/test.swf&quot;&gt;
    &lt;param name=&quot;quality&quot; value=&quot;high&quot;&gt;
    &lt;param name=&quot;bgcolor&quot; value=&quot;#FFFFFF&quot;&gt;
    &lt;!--[if !IE]&gt; &lt;--&gt;
    &lt;object data=&quot;../../../assets/resources/test.swf&quot; width=&quot;300&quot; height=&quot;120&quot; type=&quot;application/x-shockwave-flash&quot;&gt;
        &lt;param name=&quot;quality&quot; value=&quot;high&quot;&gt;
        &lt;param name=&quot;bgcolor&quot; value=&quot;#FFFFFF&quot;&gt;
        &lt;param name=&quot;pluginurl&quot; value=&quot;http://www.adobe.com/go/getflashplayer&quot;&gt;
        您的浏览器未安装 Flash。请 &lt;a href=&quot;http://www.adobe.com/go/getflashplayer&quot; target=&quot;_blank&quot;&gt;点此安装&lt;/a&gt;
    &lt;/object&gt;
    &lt;!--&gt; &lt;![endif]--&gt;
&lt;/object&gt;</code></pre><h2 id="swfobject-源码-utilitybrowserswfobjectjs">
<a href="#swfobject-源码-utilitybrowserswfobjectjs" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>SWFObject (源码: <a href="../../utility/browser/swfObject.js">utility/browser/swfObject.js</a>)</h2>
<pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-htm">&lt;div id=&quot;flashcontent&quot;&gt;[...]&lt;/div&gt;
&lt;script&gt;
    var so = new SWFObject(&quot;movie.swf&quot;, &quot;mymovie&quot;, &quot;200&quot;, &quot;100&quot;, &quot;6.0.65&quot;, &quot;#336699&quot;);
&lt;/script&gt;</code></pre><p class="doc">另参考：<a href="http://blog.deconcept.com/swfobject/" target="_blank" class="doc-external">SWFObject 官方博客</a></p>

                        <h2 id="api"><a href="#api" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>API</h2><div class="doc doc-scrollable"><table class="doc-api"><tr>
                            <th class="doc-api-method">函数</th>
                            <th class="doc-api-summary">描述</th>
                            
                        </tr><tr id="api/flash">
                                <td>
                                    <a href="https://github.com/Teal/TealUI/tree/master/components/ux/flash/flash.ts#L1-6" target="_blank" title="源码：ux/flash/flash.ts，第 1 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                    <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                    <code>flash<i class="doc-tip doc-api-ellipsis">()</i><span class="doc-tip doc-api-more">():<code>void</code></span></code>
                                    <div class="doc doc-api-detail">
                                        <p class="doc">Flash。</p>

                
                
                
                <h4>返回值</h4>
                <p>类型：<code>void</code></p>
                
                
                                        
                                    </div>
                                </td>
                                <td class="doc">
                                    <p class="doc">Flash。</p>

                                </td>
                                
                            </tr></table></div>
                        
</article>
    </div>
    <footer id="doc_footer">
        <div class="doc-container">
            <div id="doc_footer_links">
                <a href="https://github.com/Teal/TealUI/issues" target="_blank">反馈建议</a> |
                <a href="../../../docs/about/contributing.html">贡献指南</a> |
                <a href="https://gitter.im/Teal/TealUI" target="_blank">在线讨论</a>
            </div>
            &copy; 2011-2017 The Teal Team. All Rights Reserved.
        </div>
    </footer>
    <script src="../../../assets/doc/doc.js"></script>
    <script>
        Doc.init({"root":"../../..","dir":"components","active":"ux/flash/","test":"ux/flash/flash-test.ts","imports":["ux/flash"]})
    </script>
    <script src="../../../components/index.js"></script>
    <script>!location.port && /^http/.test(location.protocol) && (document.body.appendChild(document.createElement("script")).src = "//hm.baidu.com/hm.js?9a3cb18d91be19c36c5f9725822b64e8")</script>
</body>
</html>