<!DOCTYPE html>
<html class="doc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="xuld &lt;xuld@vip.qq.com&gt;">
    <meta name="version" content="0.0.1">
    <title>输入框组 - TealUI | 打造小而全、精而美的开源组件库</title>
    <link rel="shortcut icon" href="../../../assets/doc/images/favicon.ico">
    <link rel="stylesheet" href="../../../assets/doc/doc.css">
    <script src="../../../components/require.js"></script>
	<script>require(["typo/reset","ui/inputGroup"])</script>
</head>
<body>
    <header id="doc_header">
        <div class="doc-container">
            <h1 id="doc_logo">
                <a href="../../../" title="Teal" id="doc_logo_image"><img src="../../../assets/doc/images/logo.svg" alt="TealUI"></a>
                <a href="../../../" id="doc_logo_title">TealUI</a>
                <div id="doc_version" class="doc-menubutton">
                    <a href="javascript://切换版本">4.0.0 <i class="doc-icon">⏷</i></a>
                    <menu>
                        <li><a href="http://tealui.com/v3.x/" target="_blank">3.x</a></li>
                        <li><a href="http://tealui.com/v2.x/" target="_blank">2.x</a></li>
                    </menu>
                </div>
            </h1>
            <nav id="doc_navbar">
                <ul>
                    <li><a href="../../../docs" title="文档和规范">文档</a></li>
                    <li class="doc-navbar-active"><a href="../../../components" title="组件和演示">组件</a></li>
                    <li><a href="../../../tools" title="工具和资源">工具</a></li>
                </ul>
                <a href="https://github.com/Teal/TealUI" target="_blank" title="GitHub" id="doc_repository" class="doc-icon">😺</a>
                <a href="javascript:Doc.toggleSidebar()" title="菜单" id="doc_togglesidebar" class="doc-icon">≡</a>
            </nav>
        </div>
    </header>
    <div id="doc_body" class="doc-container">
        <aside id="doc_sidebar">
            <div id="doc_sidebar_header">
                <input type="search" placeholder="查找组件..." autocomplete="off" id="doc_sidebar_filter">
            </div>
            <ul id="doc_sidebar_menu">
                <li class="doc-tip"><i class="doc-icon doc-spin">҉</i> 正在载入列表...</li>
            </ul>
        </aside>
        <article id="doc_main" class="doc">
<aside id="doc_mainmenu" class="doc-menubutton">
                            <a href="javascript://打开工具" title="工具" class="doc-icon">🔧⏷</a>
                            <menu>
                                
                                <li><a href="javascript:Doc.toggleFullScreen()" accesskey="f"><i class="doc-icon">✥</i>全屏显示</a></li>
                                <li><a href="javascript:Doc.toggleDemoCodes()" accesskey="c"><i class="doc-icon">⅏</i>折叠源码</a></li>
                                <li><a href="javascript:Doc.toggleApis()" accesskey="a"><i class="doc-icon">≡</i>展开 API</a></li>
                                <li class="doc-menu-divider"><a href="https://github.com/Teal/TealUI/tree/master/components/ui/inputGroup/inputGroup.tsx" target="_blank"><i class="doc-icon">😺</i>查看源码</a></li>
                                <li><a href="https://github.com/Teal/TealUI/issues/new?title=ui/inputGroup" target="_blank"><i class="doc-icon">🐛</i>报告 BUG</a></li>
                                <li><a href="https://github.com/Teal/TealUI/edit/master/components/ui/inputGroup/inputGroup.md" target="_blank"><i class="doc-icon">✍</i>编辑此页</a></li>
                            </menu>
                        </aside>
                        <h1 id="输入框组">
<a href="#输入框组" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>输入框组<div class="doc-menubutton">
                        <small>ui/inputGroup</small>
                        <menu>
                            <li><a href="javascript:Doc.copy(&quot;import { InputGroup } from \&quot;ui/inputGroup\&quot;;\n&quot;)">复制 <code>import "ui/inputGroup"</code></a></li>
                            <li><a href="javascript:Doc.copy(&quot;require([\&quot;ui/inputGroup\&quot;], function (inputGroup_1) {\n\tvar InputGroup = inputGroup_1.InputGroup;\n\n\n});\n&quot;)">复制 <code>require("ui/inputGroup")</code></a></li>
                            <li class="doc-menu-divider"><a href="javascript:Doc.copy(&quot;\&quot;ui/inputGroup\&quot;&quot;)">复制 <code>"ui/inputGroup"</code></a></li>
                        </menu>
                    </div></h1>
<p class="doc">输入框组。</p>
<link rel="stylesheet" href="reset.scss" />
<link rel="stylesheet" href="tipBox.scss" />
<link rel="stylesheet" href="icon.scss" />
<link rel="stylesheet" href="textBox.scss" />
<link rel="stylesheet" href="button.scss" />
<link rel="stylesheet" href="inputGroup.scss" />
<link rel="stylesheet" href="utility.scss" />
<link rel="stylesheet" href="../form/buttonGroup.scss" />
<pre><code>    .doc-demo {
        line-height: 40px;
    }
</code></pre>
<p class="doc">在一个 <code>x-textbox</code> 前后追加一个 <code>x-tipbox</code> 或 <code>x-buttongroup</code>。</p>
<dl id="doc_toc">
	<dt><a href="#追加提示框">追加提示框</a></dt>
	<dt><a href="#复选框">复选框</a></dt>
	<dt><a href="#按钮">按钮</a></dt>
	<dt><a href="#多个按钮">多个按钮</a></dt>
	<dt><a href="#占满一行">占满一行</a></dt>
	<dt><a href="#version-001author-xuld-xuldvipqqcomimport-typoreset">version: 0.0.1author: xuld xuld@vip.qq.comimport:- typo/reset</a></dt>
	<dt><a href="#基本用法">基本用法</a></dt>
	<dt><a href="#占满一行-2">占满一行</a></dt>
	<dt><a href="#api">API</a></dt>
	<dd><a href="#api/InputGroup">InputGroup 类</a></dd>
</dl>
<h2 id="追加提示框">
<a href="#追加提示框" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>追加提示框</h2>
<div class="doc-demo">
                    <div class="doc-demo-body" aria-label="示例" id="doc_demo_1">
<span class="x-inputgroup">
    <span class="x-tipbox">邮箱: </span>
    <input type="text" class="x-textbox" />
</span>

<br />

<span class="x-inputgroup">
    <input type="text" class="x-textbox" />
    <span class="x-tipbox">@example.com</span>
</span>

<br />

<span class="x-inputgroup">
    <span class="x-tipbox">邮箱: </span>
    <input type="text" class="x-textbox" />
    <span class="x-tipbox">@example.com</span>
</span>

</div>
                    <pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-html"><span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-inputgroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-tipbox"</span>&gt;</span>邮箱: <span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">input</span> <span class="doc-code-attr">type</span>=<span class="doc-code-string">"text"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-textbox"</span> /&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>

<span class="doc-code-tag">&lt;<span class="doc-code-name">br</span> /&gt;</span>

<span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-inputgroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">input</span> <span class="doc-code-attr">type</span>=<span class="doc-code-string">"text"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-textbox"</span> /&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-tipbox"</span>&gt;</span>@example.com<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>

<span class="doc-code-tag">&lt;<span class="doc-code-name">br</span> /&gt;</span>

<span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-inputgroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-tipbox"</span>&gt;</span>邮箱: <span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">input</span> <span class="doc-code-attr">type</span>=<span class="doc-code-string">"text"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-textbox"</span> /&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-tipbox"</span>&gt;</span>@example.com<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span></code></pre>
                </div><h2 id="复选框">
<a href="#复选框" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>复选框</h2>
<div class="doc-demo">
                    <div class="doc-demo-body" aria-label="示例" id="doc_demo_2">
<span class="x-inputgroup">
    <span class="x-tipbox">
        <input type="checkbox">
    </span>
    <input type="text" class="x-textbox" />
</span>

</div>
                    <pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-html"><span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-inputgroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-tipbox"</span>&gt;</span>
        <span class="doc-code-tag">&lt;<span class="doc-code-name">input</span> <span class="doc-code-attr">type</span>=<span class="doc-code-string">"checkbox"</span>&gt;</span>
    <span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">input</span> <span class="doc-code-attr">type</span>=<span class="doc-code-string">"text"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-textbox"</span> /&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span></code></pre>
                </div><h2 id="按钮">
<a href="#按钮" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>按钮</h2>
<div class="doc-demo">
                    <div class="doc-demo-body" aria-label="示例" id="doc_demo_3">
<span class="x-inputgroup">
    <input type="text" class="x-textbox" />
    <span><button class="x-button"><span class="x-icon">&#9662;</span></button></span>
</span>

</div>
                    <pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-html"><span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-inputgroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">input</span> <span class="doc-code-attr">type</span>=<span class="doc-code-string">"text"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-textbox"</span> /&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span>&gt;</span><span class="doc-code-tag">&lt;<span class="doc-code-name">button</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span><span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-icon"</span>&gt;</span>&amp;#9662;<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span><span class="doc-code-tag">&lt;/<span class="doc-code-name">button</span>&gt;</span><span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span></code></pre>
                </div><div class="doc-demo">
                    <div class="doc-demo-body" aria-label="示例" id="doc_demo_4">
<span class="x-inputgroup">
    <span><button class="x-button">百度 <span class="x-icon">&#9662;</span></button></span>
    <input type="text" class="x-textbox" />
    <span><button class="x-button"><span class="x-icon">☌</span></button></span>
</span>

</div>
                    <pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-html"><span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-inputgroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span>&gt;</span><span class="doc-code-tag">&lt;<span class="doc-code-name">button</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>百度 <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-icon"</span>&gt;</span>&amp;#9662;<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span><span class="doc-code-tag">&lt;/<span class="doc-code-name">button</span>&gt;</span><span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">input</span> <span class="doc-code-attr">type</span>=<span class="doc-code-string">"text"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-textbox"</span> /&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span>&gt;</span><span class="doc-code-tag">&lt;<span class="doc-code-name">button</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span><span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-icon"</span>&gt;</span>☌<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span><span class="doc-code-tag">&lt;/<span class="doc-code-name">button</span>&gt;</span><span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span></code></pre>
                </div><h2 id="多个按钮">
<a href="#多个按钮" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>多个按钮</h2>
<div class="doc-demo">
                    <div class="doc-demo-body" aria-label="示例" id="doc_demo_5">
<span class="x-inputgroup">
    <input type="text" class="x-textbox" />
    <span>
        <button class="x-button">更多菜单</button>
        <button class="x-button"><span class="x-icon">&#9662;</span></button>
    </span>
</span>

</div>
                    <pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-html"><span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-inputgroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">input</span> <span class="doc-code-attr">type</span>=<span class="doc-code-string">"text"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-textbox"</span> /&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span>&gt;</span>
        <span class="doc-code-tag">&lt;<span class="doc-code-name">button</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>更多菜单<span class="doc-code-tag">&lt;/<span class="doc-code-name">button</span>&gt;</span>
        <span class="doc-code-tag">&lt;<span class="doc-code-name">button</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span><span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-icon"</span>&gt;</span>&amp;#9662;<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span><span class="doc-code-tag">&lt;/<span class="doc-code-name">button</span>&gt;</span>
    <span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span></code></pre>
                </div><h2 id="占满一行">
<a href="#占满一行" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>占满一行</h2>
<p class="doc">当使用 <code>div</code> 时，输入框组将占满一行。</p>
<div class="doc-demo">
                    <div class="doc-demo-body" aria-label="示例" id="doc_demo_6">
<div class="x-inputgroup">
    <span class="x-tipbox">邮箱: </span>
    <input type="text" class="x-textbox" />
    <span>
        <button class="x-button">更多菜单</button>
    </span>
</div>

</div>
                    <pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-html"><span class="doc-code-tag">&lt;<span class="doc-code-name">div</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-inputgroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-tipbox"</span>&gt;</span>邮箱: <span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">input</span> <span class="doc-code-attr">type</span>=<span class="doc-code-string">"text"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-textbox"</span> /&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">span</span>&gt;</span>
        <span class="doc-code-tag">&lt;<span class="doc-code-name">button</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>更多菜单<span class="doc-code-tag">&lt;/<span class="doc-code-name">button</span>&gt;</span>
    <span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">div</span>&gt;</span></code></pre>
                </div><hr>
<h2 id="version-001author-xuld-xuldvipqqcomimport-typoreset">
<a href="#version-001author-xuld-xuldvipqqcomimport-typoreset" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>version: 0.0.1
author: xuld <a href="mailto:xuld@vip.qq.com">xuld@vip.qq.com</a>
import:
- typo/reset</h2>
<h1 id="按钮组">
<a href="#按钮组" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>按钮组<div class="doc-menubutton">
                        <small>ui/inputGroup</small>
                        <menu>
                            <li><a href="javascript:Doc.copy(&quot;import { InputGroup } from \&quot;ui/inputGroup\&quot;;\n&quot;)">复制 <code>import "ui/inputGroup"</code></a></li>
                            <li><a href="javascript:Doc.copy(&quot;require([\&quot;ui/inputGroup\&quot;], function (inputGroup_1) {\n\tvar InputGroup = inputGroup_1.InputGroup;\n\n\n});\n&quot;)">复制 <code>require("ui/inputGroup")</code></a></li>
                            <li class="doc-menu-divider"><a href="javascript:Doc.copy(&quot;\&quot;ui/inputGroup\&quot;&quot;)">复制 <code>"ui/inputGroup"</code></a></li>
                        </menu>
                    </div></h1>
<p class="doc">将多个按钮组成一个整体。</p>
<link rel="stylesheet" href="reset.scss" />
<link rel="stylesheet" href="../form/button.scss" />
<link rel="stylesheet" href="../form/buttonGroup.scss" />
<pre><code>    .doc-demo {
        line-height: 40px;
    }
</code></pre>
<h2 id="基本用法">
<a href="#基本用法" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>基本用法</h2>
<div class="doc-demo">
                    <div class="doc-demo-body" aria-label="示例" id="doc_demo_7">
<span class="x-buttongroup">
    <a href="###" class="x-button">左</a>
    <a href="###" class="x-button">中</a>
    <a href="###" class="x-button">右</a>
</span>
<span class="x-buttongroup">
    <a href="###" class="x-button">上</a>
    <a href="###" class="x-button">中</a>
    <a href="###" class="x-button">下</a>
</span>

</div>
                    <pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-html"><span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-buttongroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">a</span> <span class="doc-code-attr">href</span>=<span class="doc-code-string">"###"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>左<span class="doc-code-tag">&lt;/<span class="doc-code-name">a</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">a</span> <span class="doc-code-attr">href</span>=<span class="doc-code-string">"###"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>中<span class="doc-code-tag">&lt;/<span class="doc-code-name">a</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">a</span> <span class="doc-code-attr">href</span>=<span class="doc-code-string">"###"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>右<span class="doc-code-tag">&lt;/<span class="doc-code-name">a</span>&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span>
<span class="doc-code-tag">&lt;<span class="doc-code-name">span</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-buttongroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">a</span> <span class="doc-code-attr">href</span>=<span class="doc-code-string">"###"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>上<span class="doc-code-tag">&lt;/<span class="doc-code-name">a</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">a</span> <span class="doc-code-attr">href</span>=<span class="doc-code-string">"###"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>中<span class="doc-code-tag">&lt;/<span class="doc-code-name">a</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">a</span> <span class="doc-code-attr">href</span>=<span class="doc-code-string">"###"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>下<span class="doc-code-tag">&lt;/<span class="doc-code-name">a</span>&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">span</span>&gt;</span></code></pre>
                </div><h2 id="占满一行-2">
<a href="#占满一行-2" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>占满一行</h2>
<p class="doc">当使用 <code>div</code> 时，按钮组将占满一行。</p>
<div class="doc-demo">
                    <div class="doc-demo-body" aria-label="示例" id="doc_demo_8">
<div class="x-buttongroup">
    <a href="###" class="x-button x-button-active">左边</a>
    <a href="###" class="x-button">中间的</a>
    <a href="###" class="x-button">右边</a>
</div>

</div>
                    <pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-html"><span class="doc-code-tag">&lt;<span class="doc-code-name">div</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-buttongroup"</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">a</span> <span class="doc-code-attr">href</span>=<span class="doc-code-string">"###"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button x-button-active"</span>&gt;</span>左边<span class="doc-code-tag">&lt;/<span class="doc-code-name">a</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">a</span> <span class="doc-code-attr">href</span>=<span class="doc-code-string">"###"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>中间的<span class="doc-code-tag">&lt;/<span class="doc-code-name">a</span>&gt;</span>
    <span class="doc-code-tag">&lt;<span class="doc-code-name">a</span> <span class="doc-code-attr">href</span>=<span class="doc-code-string">"###"</span> <span class="doc-code-attr">class</span>=<span class="doc-code-string">"x-button"</span>&gt;</span>右边<span class="doc-code-tag">&lt;/<span class="doc-code-name">a</span>&gt;</span>
<span class="doc-code-tag">&lt;/<span class="doc-code-name">div</span>&gt;</span></code></pre>
                </div>
                        <h2 id="api"><a href="#api" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>API</h2><h3 id="api/InputGroup"><a href="#api/InputGroup" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a><a href="https://github.com/Teal/TealUI/tree/master/components/ui/inputGroup/inputGroup.tsx#L4-17" target="_blank" title="源码：ui/inputGroup/inputGroup.tsx，第 4 行" aria-hidden="true" class="doc-icon doc-sourcelink">⅏</a>InputGroup 类</h3><p class="doc">表示一个输入框组。</p>
<div class="doc doc-scrollable"><table class="doc-api"><tr>
                            <th class="doc-api-method">方法</th>
                            <th class="doc-api-summary">描述</th>
                            
                        </tr><tr id="api/InputGroup/render">
                                <td>
                                    <a href="https://github.com/Teal/TealUI/tree/master/components/ui/inputGroup/inputGroup.tsx#L9-15" target="_blank" title="源码：ui/inputGroup/inputGroup.tsx，第 9 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                    <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                    <code>render<i class="doc-tip doc-api-ellipsis">()</i><span class="doc-tip doc-api-more">():<code>any</code></span></code>
                                    <div class="doc doc-api-detail">
                                        <p class="doc">(保护的)当被子类重写时负责渲染当前控件。</p>

                
                
                
                <h4>返回值</h4>
                <p>类型：<code>any</code></p>
                <p class="doc">返回一个虚拟节点。</p>

                
                                        
                                    </div>
                                </td>
                                <td class="doc">
                                    <p class="doc">(保护的)当被子类重写时负责渲染当前控件。</p>

                                </td>
                                
                            </tr></table></div>
                        
</article>
    </div>
    <footer id="doc_footer">
        <div class="doc-container">
            <div id="doc_footer_links">
                <a href="https://github.com/Teal/TealUI/issues" target="_blank">反馈建议</a> |
                <a href="../../../docs/about/contributing.html">贡献指南</a> |
                <a href="https://gitter.im/Teal/TealUI" target="_blank">在线讨论</a>
            </div>
            &copy; 2011-2017 The Teal Team. All Rights Reserved.
        </div>
    </footer>
    <script src="../../../assets/doc/doc.js"></script>
    <script>
        Doc.init({"root":"../../..","dir":"components","active":"ui/inputGroup/","imports":["typo/reset","ui/inputGroup"]})
    </script>
    <script src="../../../components/index.js"></script>
    <script>!location.port && /^http/.test(location.protocol) && (document.body.appendChild(document.createElement("script")).src = "//hm.baidu.com/hm.js?9a3cb18d91be19c36c5f9725822b64e8")</script>
</body>
</html>