<!DOCTYPE html>
<html class="doc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editing - TealUI | 打造小而全、精而美的开源组件库</title>
    <link rel="shortcut icon" href="../../../assets/doc/images/favicon.ico">
    <link rel="stylesheet" href="../../../assets/doc/doc.css">
    <script src="../../../components/require.js"></script>
</head>
<body>
    <header id="doc_header">
        <div class="doc-container">
            <h1 id="doc_logo">
                <a href="../../../" title="Teal" id="doc_logo_image"><img src="../../../assets/doc/images/logo.svg" alt="TealUI"></a>
                <a href="../../../" id="doc_logo_title">TealUI</a>
                <div id="doc_version" class="doc-menubutton">
                    <a href="javascript://切换版本">4.0.0 <i class="doc-icon">⏷</i></a>
                    <menu>
                        <li><a href="http://tealui.com/v3.x/" target="_blank">3.x</a></li>
                        <li><a href="http://tealui.com/v2.x/" target="_blank">2.x</a></li>
                    </menu>
                </div>
            </h1>
            <nav id="doc_navbar">
                <ul>
                    <li><a href="../../../docs" title="文档和规范">文档</a></li>
                    <li class="doc-navbar-active"><a href="../../../components" title="组件和演示">组件</a></li>
                    <li><a href="../../../tools" title="工具和资源">工具</a></li>
                </ul>
                <a href="https://github.com/Teal/TealUI" target="_blank" title="GitHub" id="doc_repository" class="doc-icon">😺</a>
                <a href="javascript:Doc.toggleSidebar()" title="菜单" id="doc_togglesidebar" class="doc-icon">≡</a>
            </nav>
        </div>
    </header>
    <div id="doc_body" class="doc-container">
        <aside id="doc_sidebar">
            <div id="doc_sidebar_header">
                <input type="search" placeholder="查找组件..." autocomplete="off" id="doc_sidebar_filter">
            </div>
            <ul id="doc_sidebar_menu">
                <li class="doc-tip"><i class="doc-icon doc-spin">҉</i> 正在载入列表...</li>
            </ul>
        </aside>
        <article id="doc_main" class="doc">
<aside id="doc_mainmenu" class="doc-menubutton">
                            <a href="javascript://打开工具" title="工具" class="doc-icon">🔧⏷</a>
                            <menu>
                                
                                <li><a href="javascript:Doc.toggleFullScreen()" accesskey="f"><i class="doc-icon">✥</i>全屏显示</a></li>
                                
                                
                                
                                
                                <li class="doc-menu-divider"><a href="https://github.com/Teal/TealUI/edit/master/components/ux/keys/editing.md" target="_blank"><i class="doc-icon">✍</i>编辑此页</a></li>
                            </menu>
                        </aside>
                        <dl id="doc_toc">
	<dt><a href="#禁止-tab-small源码-utilitydomdisabletabjssmall">禁止 TAB &lt;small&gt;(源码: utility/dom/disableTab.js)&lt;/small&gt;</a></dt>
	<dt><a href="#提示-small源码-utilitydomatjssmall">@提示 &lt;small&gt;(源码: utility/dom/at.js)&lt;/small&gt;</a></dt>
	<dt><a href="#文本域自动放大缩小-small源码-utilitydomautoresizejssmall">文本域自动放大缩小 &lt;small&gt;(源码: utility/dom/autoResize.js)&lt;/small&gt;</a></dt>
	<dt><a href="#文本框占位符-small源码-utilitydomplaceholderjssmall">文本框占位符 &lt;small&gt;(源码: utility/dom/placeholder.js)&lt;/small&gt;</a></dt>
	<dt><a href="#键码表">键码表</a></dt>
	<dd><a href="#字母和数字键的键码值">字母和数字键的键码值</a></dd>
	<dd><a href="#数字功能键盘上的键的键码值">数字/功能键盘上的键的键码值</a></dd>
	<dd><a href="#控制键键码值">控制键键码值</a></dd>
	<dd><a href="#多媒体键码值">多媒体键码值</a></dd>
</dl>
<h2 id="禁止-tab-small源码-utilitydomdisabletabjssmall">
<a href="#禁止-tab-small源码-utilitydomdisabletabjssmall" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>禁止 TAB <small>(源码: <a href="../../utility/dom/disableTab.js">utility/dom/disableTab.js</a>)</small></h2>
<p class="doc">| API | 描述 | 示例 |
| <code>_dom_.disableTab</code> | 在文本框按 TAB 不切换焦点，改为输入 TAB |</p>
<aside class="doc-demo"><textarea id="disableTab_elem">abc</textarea> <script>
$('#disableTab_elem').disableTab();
</script></aside>
<p class="doc">|</p>
<h2 id="提示-small源码-utilitydomatjssmall">
<a href="#提示-small源码-utilitydomatjssmall" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>@提示 <small>(源码: <a href="../../utility/dom/at.js">utility/dom/at.js</a>)</small></h2>
<p class="doc">| API | 描述 | 示例 |
| <code>_dom_.at</code> | 输入 at 后插入提示层 |</p>
<aside class="doc-demo"><textarea id="at_elem"></textarea><script>
$('#at_elem').at({ char: '@', show: function (x, y, contentBefore, contentAfter, e) { } }); // 创建弹层... }, hide: function (e) { // 关闭弹层... }, up: function (e) { // 弹层显示后输入上的操作。 }, down: function (e) { // 弹层显示后输入下的操作。 }, enter: function (e) { // 弹层显示后输入回车的操作。 }, keyPress: function (e) { // 谈层显示后输入键盘事件的操作。 } });
</script></aside>
<p class="doc">|</p>
<h2 id="文本域自动放大缩小-small源码-utilitydomautoresizejssmall">
<a href="#文本域自动放大缩小-small源码-utilitydomautoresizejssmall" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>文本域自动放大缩小 <small>(源码: <a href="../../utility/dom/autoResize.js">utility/dom/autoResize.js</a>)</small></h2>
<p class="doc">| API | 描述 | 示例 |
| <code>_dom_.autoResize</code> | 查找子节点 |</p>
<aside class="doc-demo"><textarea id="autoResize_elem"></textarea><script>
$('#autoResize_elem').autoResize();
</script></aside>
<p class="doc">|</p>
<p class="doc">您也可以选择使用可编辑的 HTML 片段代替文本框，同样有自动放大缩小效果。</p>
<aside class="doc-demo">
<div style="border:1px solid #ccc;padding: 10px;" contenteditable="true">我是内容</div>
</aside>
<h2 id="文本框占位符-small源码-utilitydomplaceholderjssmall">
<a href="#文本框占位符-small源码-utilitydomplaceholderjssmall" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>文本框占位符 <small>(源码: <a href="../../utility/dom/placeholder.js">utility/dom/placeholder.js</a>)</small></h2>
<p class="doc">| API | 描述 | 示例 |
| <code>_dom_.placeholder</code> | 设置当文本框空的时候，显示的文本 |</p>
<aside class="doc-demo"><textarea id="placeholder_elem"></textarea><script>
$('#placeholder_elem').placeholder("请输入内容...");
</script></aside>
<p class="doc">|</p>
<blockquote class="doc doc-blockquote">
<h4>建议</h4>
<p class="doc">尽量使用 HTML5 <code>placeholder</code> 属性来实现占位符效果。</p>
</blockquote>
<h2 id="键码表">
<a href="#键码表" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>键码表</h2>
<input onkeydown="this.value=event.keyCode" placeholder="按键以测试键盘码...">
<h3 id="字母和数字键的键码值">
<a href="#字母和数字键的键码值" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>字母和数字键的键码值</h3>
<p class="doc">| 按键 | 键码 | 按键 | 键码 | 按键 | 键码 | 按键 | 键码 |
| A | 65 | J | 74 | S | 83 | 1 | 49 |
| B | 66 | K | 75 | T | 84 | 2 | 50 |
| C | 67 | L | 76 | U | 85 | 3 | 51 |
| D | 68 | M | 77 | V | 86 | 4 | 52 |
| E | 69 | N | 78 | W | 87 | 5 | 53 |
| F | 70 | O | 79 | X | 88 | 6 | 54 |
| G | 71 | P | 80 | Y | 89 | 7 | 55 |
| H | 72 | Q | 81 | Z | 90 | 8 | 56 |
| I | 73 | R | 82 | 0 | 48 | 9 | 57 |</p>
<h3 id="数字功能键盘上的键的键码值">
<a href="#数字功能键盘上的键的键码值" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>数字/功能键盘上的键的键码值</h3>
<p class="doc">| 按键 | 键码 | 按键 | 键码 | 按键 | 键码 | 按键 | 键码 |
| 0 | 96 | 8 | 104 | F1 | 112 | F7 | 118 |
| 1 | 97 | 9 | 105 | F2 | 113 | F8 | 119 |
| 2 | 98 | * | 106 | F3 | 114 | F9 | 120 |
| 3 | 99 | + | 107 | F4 | 115 | F10 | 121 |
| 4 | 100 | Enter | 108 | F5 | 116 | F11 | 122 |
| 5 | 101 | - | 109 | F6 | 117 | F12 | 123 |
| 6 | 102 | . | 110 |   |   |   |   |
| 7 | 103 | / | 111 |   |   |   |   |</p>
<h3 id="控制键键码值">
<a href="#控制键键码值" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>控制键键码值</h3>
<p class="doc">| 按键 | 键码 | 按键 | 键码 | 按键 | 键码 | 按键 | 键码 |
| BackSpace | 8 | Esc | 27 | Right Arrow | 39 | -_ | 189 |
| Tab | 9 | Spacebar | 32 | Dw Arrow | 40 | .&gt; | 190 |
| Clear | 12 | Page Up | 33 | Insert | 45 | /? | 191 |
| Enter | 13 | Page Down | 34 | Delete | 46 | `~ | 192 |
| Shift | 16 | End | 35 | Num Lock | 144 | [{ | 219 |
| Control | 17 | Home | 36 | ;: | 186 | | | 220 |
| Alt | 18 | Left Arrow | 37 | =+ | 187 | ]} | 221 |
| Cape Lock | 20 | Up Arrow | 38 | ,&lt; | 188 | '&quot; | 222 |</p>
<h3 id="多媒体键码值">
<a href="#多媒体键码值" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>多媒体键码值</h3>
<p class="doc">| 按键 | 键码 | 按键 | 键码 | 按键 | 键码 | 按键 | 键码 |
| 音量加 | 175 |   |   |   |   |   |   |
| 音量减 | 174 |   |   |   |   |   |   |
| 停止 | 179 |   |   |   |   |   |   |
| 静音 | 173 |   |   |   |   |   |   |
| 浏览器 | 172 |   |   |   |   |   |   |
| 邮件 | 180 |   |   |   |   |   |   |
| 搜索 | 170 |   |   |   |   |   |   |
| 收藏 | 171 |   |   |   |   |   |   |</p>

                        
                        
</article>
    </div>
    <footer id="doc_footer">
        <div class="doc-container">
            <div id="doc_footer_links">
                <a href="https://github.com/Teal/TealUI/issues" target="_blank">反馈建议</a> |
                <a href="../../../docs/about/contributing.html">贡献指南</a> |
                <a href="https://gitter.im/Teal/TealUI" target="_blank">在线讨论</a>
            </div>
            &copy; 2011-2017 The Teal Team. All Rights Reserved.
        </div>
    </footer>
    <script src="../../../assets/doc/doc.js"></script>
    <script>
        Doc.init({"root":"../../..","dir":"components","active":"ux/keys/editing.html","imports":[]})
    </script>
    <script src="../../../components/index.js"></script>
    <script>!location.port && /^http/.test(location.protocol) && (document.body.appendChild(document.createElement("script")).src = "//hm.baidu.com/hm.js?9a3cb18d91be19c36c5f9725822b64e8")</script>
</body>
</html>