<!DOCTYPE html>
<html class="doc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="xuld &lt;xuld@vip.qq.com&gt;">
    <meta name="version" content="0.0.1">
    <title>提示框 - Frag | 最上流的组件库</title>
    <link rel="shortcut icon" href="../../../assets/doc/images/favicon.ico">
    <link rel="stylesheet" href="../../../assets/doc/doc.css">
    <script src="../../../components/require.js"></script>
	<script>require(["typo/reset","ui/suggest"])</script>
</head>
<body>
    <header id="doc_header">
        <div class="doc-container">
            <h1 id="doc_logo">
                <a href="../../../" title="Teal" id="doc_logo_image"><img src="../../../assets/doc/images/logo.svg" alt="Frag"></a>
                <a href="../../../" id="doc_logo_title">Frag</a>
                <div id="doc_version" class="doc-menubutton">
                    <a href="javascript://切换版本">4.0.0 <i class="doc-icon">⏷</i></a>
                    <menu>
                        <li><a href="http://tealui.com/v3.x/" target="_blank">3.x</a></li>
                        <li><a href="http://tealui.com/v2.x/" target="_blank">2.x</a></li>
                    </menu>
                </div>
            </h1>
            <nav id="doc_navbar">
                <ul>
                    <li><a href="../../../docs" title="文档和规范">文档</a></li>
                    <li class="doc-navbar-active"><a href="../../../components" title="组件和演示">组件</a></li>
                    <li><a href="../../../tools" title="工具和资源">工具</a></li>
                </ul>
                <a href="http://git.weidai.work/fed/frag" target="_blank" title="GitHub" id="doc_repository" class="doc-icon">😺</a>
                <a href="javascript:Doc.toggleSidebar()" title="菜单" id="doc_togglesidebar" class="doc-icon">≡</a>
            </nav>
        </div>
    </header>
    <div id="doc_body" class="doc-container">
        <aside id="doc_sidebar">
            <div id="doc_sidebar_header">
                <input type="search" placeholder="查找组件..." autocomplete="off" id="doc_sidebar_filter">
            </div>
            <ul id="doc_sidebar_menu">
                <li class="doc-tip"><i class="doc-icon doc-spin">҉</i> 正在载入列表...</li>
            </ul>
        </aside>
        <article id="doc_main" class="doc">
<aside id="doc_mainmenu" class="doc-menubutton">
                            <a href="javascript://打开工具" title="工具" class="doc-icon">🔧⏷</a>
                            <menu>
                                
                                <li><a href="javascript:Doc.toggleFullScreen()" accesskey="f"><i class="doc-icon">✥</i>全屏显示</a></li>
                                <li><a href="javascript:Doc.toggleDemoCodes()" accesskey="c"><i class="doc-icon">⅏</i>折叠源码</a></li>
                                <li><a href="javascript:Doc.toggleApis()" accesskey="a"><i class="doc-icon">≡</i>展开 API</a></li>
                                <li class="doc-menu-divider"><a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/suggest/suggest.tsx" target="_blank"><i class="doc-icon">😺</i>查看源码</a></li>
                                <li><a href="http://git.weidai.work/fed/frag/issues/new?title=ui/suggest" target="_blank"><i class="doc-icon">🐛</i>报告 BUG</a></li>
                                <li><a href="http://git.weidai.work/fed/frag/edit/dev-v4/components/ui/suggest/suggest.md" target="_blank"><i class="doc-icon">✍</i>编辑此页</a></li>
                            </menu>
                        </aside>
                        <h1 id="提示框">
<a href="#提示框" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>提示框<div class="doc-menubutton">
                        <small>ui/suggest</small>
                        <menu>
                            <li><a href="javascript:Doc.copy(&quot;import Suggest from \&quot;ui/suggest\&quot;;\n&quot;); void 0">复制 <code>import "ui/suggest"</code></a></li>
                            <li><a href="javascript:Doc.copy(&quot;require([\&quot;ui/suggest\&quot;], function (suggest_1) {\n\tvar Suggest = suggest_1.default;\n\n\n});\n&quot;); void 0">复制 <code>require("ui/suggest")</code></a></li>
                            <li class="doc-menu-divider"><a href="javascript:Doc.copy(&quot;\&quot;ui/suggest\&quot;&quot;); void 0">复制 <code>"ui/suggest"</code></a></li>
                        </menu>
                    </div></h1>
<div class="doc-demo">
                    <div class="doc-demo-body" aria-label="示例" id="doc_demo_1">
<script>
define("doc_demo_1", ["require", "exports", "ui/control", "ui/listBox", "ui/suggest"], function (require, exports, control_1, listBox_1, suggest_1) {
    Object.defineProperty(exports, "__esModule", { value: true });
    a = control_1.render(doc_demo_1, control_1.VNode.create(suggest_1.default, null,
        control_1.VNode.create(listBox_1.ListItem, null, "\u4F60\u597D"),
        control_1.VNode.create(listBox_1.ListItem, null, "\u4F60\u597D\u554A"),
        control_1.VNode.create(listBox_1.ListItem, null, "\u54C8")));
});

var exports = require("doc_demo_1")

</script>
</div>
                    <pre class="doc-code"><a href="javascript://复制源码" title="复制源码" aria-hidden="true" class="doc-icon" onclick="Doc.copyCode(this)">❐</a><code class="doc-code-jsx"><span class="doc-code-keyword">import</span> { VNode, render } <span class="doc-code-keyword">from</span> <span class="doc-code-string">"ui/control"</span>;
<span class="doc-code-keyword">import</span> Picker <span class="doc-code-keyword">from</span> <span class="doc-code-string">"ui/picker"</span>;
<span class="doc-code-keyword">import</span> { ListItem } <span class="doc-code-keyword">from</span> <span class="doc-code-string">"ui/listBox"</span>;
<span class="doc-code-keyword">import</span> Suggest <span class="doc-code-keyword">from</span> <span class="doc-code-string">"ui/suggest"</span>;

a = render(
    __root__,
    &lt;Suggest&gt;
        <span class="xml"><span class="doc-code-tag">&lt;<span class="doc-code-name">ListItem</span>&gt;</span>你好<span class="doc-code-tag">&lt;/<span class="doc-code-name">ListItem</span>&gt;</span></span>
        &lt;ListItem&gt;你好啊&lt;<span class="doc-code-regexp">/ListItem&gt;
        &lt;ListItem&gt;哈&lt;/</span>ListItem&gt;
    <span class="xml"><span class="doc-code-tag">&lt;/<span class="doc-code-name">Suggest</span>&gt;</span></span>
);</code></pre>
                </div>
                        <h2 id="api"><a href="#api" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a>API</h2><h3 id="api/Suggest"><a href="#api/Suggest" title="链接" aria-hidden="true" class="doc-icon doc-permalink">☍</a><a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/suggest/suggest.tsx#L8-91" target="_blank" title="源码：ui/suggest/suggest.tsx，第 8 行" aria-hidden="true" class="doc-icon doc-sourcelink">⅏</a>Suggest 类</h3><p>继承自：<code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></p><p class="doc">表示一个选择框。</p>
<div class="doc doc-scrollable"><table class="doc-api"><tr>
                                <th class="doc-api-property">字段</th>
                                <th class="doc-api-type">类型</th>
                                <th class="doc-api-summary">描述</th>
                                <th class="doc-api-extends">继承自</th>
                            </tr><tr id="api/Suggest/body">
                            <td>
                                <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/suggest/suggest.tsx#L72-75" target="_blank" title="源码：ui/suggest/suggest.tsx，第 72 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                <code>body</code>
                                <span class="doc-api-more">: <code>any</code></span>
                                <div class="doc doc-api-detail">
                                    <p class="doc">(只读)</p>

                                    
                                </div>
                            </td>
                            <td>
                                <code>any</code>
                            </td>
                            <td class="doc">
                                <p class="doc">(只读)</p>

                            </td>
                            <td>—</td>
                        </tr><tr id="api/Suggest/value">
                            <td>
                                <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/suggest/suggest.tsx#L77-85" target="_blank" title="源码：ui/suggest/suggest.tsx，第 77 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                <code>value</code>
                                <span class="doc-api-more">: <code>any</code></span>
                                <div class="doc doc-api-detail">
                                    
                                    <h4>继承自</h4><p><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></p>
                                </div>
                            </td>
                            <td>
                                <code>any</code>
                            </td>
                            <td class="doc">
                                
                            </td>
                            <td><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></td>
                        </tr><tr id="api/Suggest/readOnly">
                            <td>
                                <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/select/select.tsx#L12-14" target="_blank" title="源码：ui/select/select.tsx，第 12 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                <code>readOnly</code>
                                <span class="doc-api-more">: <code>any</code></span>
                                <div class="doc doc-api-detail">
                                    
                                    <h4>继承自</h4><p><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></p>
                                </div>
                            </td>
                            <td>
                                <code>any</code>
                            </td>
                            <td class="doc">
                                
                            </td>
                            <td><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></td>
                        </tr><tr id="api/Suggest/canInput">
                            <td>
                                <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/select/select.tsx#L20-25" target="_blank" title="源码：ui/select/select.tsx，第 20 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                <code>canInput</code>
                                <span class="doc-api-more">: <code>boolean</code></span>
                                <div class="doc doc-api-detail">
                                    <p class="doc">是否允许用户输入。</p>

                                    <h4>继承自</h4><p><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></p>
                                </div>
                            </td>
                            <td>
                                <code>boolean</code>
                            </td>
                            <td class="doc">
                                <p class="doc">是否允许用户输入。</p>

                            </td>
                            <td><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></td>
                        </tr></table><table class="doc-api"><tr>
                            <th class="doc-api-method">方法</th>
                            <th class="doc-api-summary">描述</th>
                            <th class="doc-api-extends">继承自</th>
                        </tr><tr id="api/Suggest/handleInput">
                                <td>
                                    <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/suggest/suggest.tsx#L19-31" target="_blank" title="源码：ui/suggest/suggest.tsx，第 19 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                    <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                    <code>handleInput<i class="doc-tip doc-api-ellipsis">()</i><span class="doc-tip doc-api-more">():<code>void</code></span></code>
                                    <div class="doc doc-api-detail">
                                        <p class="doc">(保护的)</p>

                
                
                
                <h4>返回值</h4>
                <p>类型：<code>void</code></p>
                
                
                                        
                                    </div>
                                </td>
                                <td class="doc">
                                    <p class="doc">(保护的)</p>

                                </td>
                                <td>—</td>
                            </tr><tr id="api/Suggest/match">
                                <td>
                                    <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/suggest/suggest.tsx#L35-59" target="_blank" title="源码：ui/suggest/suggest.tsx，第 35 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                    <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                    <code>match<i class="doc-tip doc-api-ellipsis">(value, item)</i><span class="doc-tip doc-api-more">(value:<code>string</code>, item:<code>string</code>):<code>boolean</code></span></code>
                                    <div class="doc doc-api-detail">
                                        
                
                
                <table>
                        <tr>
                            <th>参数</th>
                            <th>类型</th>
                            <th>描述</th>
                            <th>默认值</th>
                        </tr>
                        <tr>
                                <td>
                                    <code>value<span class="doc-api-required">*</span></code>
                                </td>
                                <td>
                                    <code>string</code>
                                </td>
                                <td class="doc">
                                    
                                </td>
                                <td>
                                    —
                                </td>
                            </tr>
<tr>
                                <td>
                                    <code>item<span class="doc-api-required">*</span></code>
                                </td>
                                <td>
                                    <code>string</code>
                                </td>
                                <td class="doc">
                                    
                                </td>
                                <td>
                                    —
                                </td>
                            </tr>
                    </table>
                <h4>返回值</h4>
                <p>类型：<code>boolean</code></p>
                
                
                                        
                                    </div>
                                </td>
                                <td class="doc">
                                    
                                </td>
                                <td>—</td>
                            </tr><tr id="api/Suggest/validate">
                                <td>
                                    <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/suggest/suggest.tsx#L61-70" target="_blank" title="源码：ui/suggest/suggest.tsx，第 61 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                    <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                    <code>validate<i class="doc-tip doc-api-ellipsis">(value)</i><span class="doc-tip doc-api-more">(value:<code>this[&quot;value&quot;]</code>):<code>any</code></span></code>
                                    <div class="doc doc-api-detail">
                                        <p class="doc">(保护的)</p>

                
                
                <table>
                        <tr>
                            <th>参数</th>
                            <th>类型</th>
                            <th>描述</th>
                            <th>默认值</th>
                        </tr>
                        <tr>
                                <td>
                                    <code>value<span class="doc-api-required">*</span></code>
                                </td>
                                <td>
                                    <code>this[&quot;value&quot;]</code>
                                </td>
                                <td class="doc">
                                    
                                </td>
                                <td>
                                    —
                                </td>
                            </tr>
                    </table>
                <h4>返回值</h4>
                <p>类型：<code>any</code></p>
                
                
                                        
                                    </div>
                                </td>
                                <td class="doc">
                                    <p class="doc">(保护的)</p>

                                </td>
                                <td>—</td>
                            </tr><tr id="api/Suggest/init">
                                <td>
                                    <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/suggest/suggest.tsx#L13-17" target="_blank" title="源码：ui/suggest/suggest.tsx，第 13 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                    <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                    <code>init<i class="doc-tip doc-api-ellipsis">()</i><span class="doc-tip doc-api-more">():<code>void</code></span></code>
                                    <div class="doc doc-api-detail">
                                        <p class="doc">(保护的)</p>

                
                
                
                <h4>返回值</h4>
                <p>类型：<code>void</code></p>
                
                
                                        <h4>继承自</h4><p><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></p>
                                    </div>
                                </td>
                                <td class="doc">
                                    <p class="doc">(保护的)</p>

                                </td>
                                <td><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></td>
                            </tr><tr id="api/Suggest/handleMenuSelect">
                                <td>
                                    <a href="http://git.weidai.work/fed/frag/tree/dev-v4/components/ui/select/select.tsx#L52-56" target="_blank" title="源码：ui/select/select.tsx，第 52 行" aria-hidden="true" class="doc-icon doc-sourcelink doc-api-more">⅏</a>
                                    <a href="javascript://详细信息" title="展开/折叠详细信息" class="doc-icon doc-api-toggle" onclick="Doc.toggleApi(this)">⮞</a>
                                    <code>handleMenuSelect<i class="doc-tip doc-api-ellipsis">(item, e)</i><span class="doc-tip doc-api-more">(item:<code><a href="../../../components/ui/listBox/index.html#api/ListItem">ListItem</a></code>, e:<code>UIEvent</code>):<code>void</code></span></code>
                                    <div class="doc doc-api-detail">
                                        <p class="doc">(保护的)</p>

                
                
                <table>
                        <tr>
                            <th>参数</th>
                            <th>类型</th>
                            <th>描述</th>
                            <th>默认值</th>
                        </tr>
                        <tr>
                                <td>
                                    <code>item<span class="doc-api-required">*</span></code>
                                </td>
                                <td>
                                    <code><a href="../../../components/ui/listBox/index.html#api/ListItem">ListItem</a></code>
                                </td>
                                <td class="doc">
                                    
                                </td>
                                <td>
                                    —
                                </td>
                            </tr>
<tr>
                                <td>
                                    <code>e<span class="doc-api-required">*</span></code>
                                </td>
                                <td>
                                    <code>UIEvent</code>
                                </td>
                                <td class="doc">
                                    
                                </td>
                                <td>
                                    —
                                </td>
                            </tr>
                    </table>
                <h4>返回值</h4>
                <p>类型：<code>void</code></p>
                
                
                                        <h4>继承自</h4><p><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></p>
                                    </div>
                                </td>
                                <td class="doc">
                                    <p class="doc">(保护的)</p>

                                </td>
                                <td><code><a href="../../../components/ui/select/index.html#api/Select">Select</a></code></td>
                            </tr></table></div>
                        <nav id="doc_pager">
                            <a href="../../../components/ui/select/" title="选择框" id="doc_pager_prev"><i class="doc-icon">⮜</i> 选择框</a>
                            <a href="../../../components/ui/button/" title="按钮" id="doc_pager_next">按钮 <i class="doc-icon">⮞</i></a>
                        </nav>
</article>
    </div>
    <footer id="doc_footer">
        <div class="doc-container">
            <div id="doc_footer_links">
                <a href="http://git.weidai.work/fed/frag/issues" target="_blank">反馈建议</a> |
                <a href="../../../docs/about/contributing.html">贡献指南</a> |
                <a href="https://gitter.im/Teal/TealUI" target="_blank">在线讨论</a>
            </div>
            &copy; 2011-2017 The Teal Team. All Rights Reserved.
        </div>
    </footer>
    <script src="../../../assets/doc/doc.js"></script>
    <script>
        Doc.init({"root":"../../..","dir":"components","active":"ui/suggest/","imports":["typo/reset","ui/suggest"]})
    </script>
    <script src="../../../components/index.js"></script>
    <script>!location.port && /^http/.test(location.protocol) && (document.body.appendChild(document.createElement("script")).src = "//hm.baidu.com/hm.js?9a3cb18d91be19c36c5f9725822b64e8")</script>
</body>
</html>